/* Barre de navigation */
nav {
  box-shadow: 0 0 5px black;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #2d3436;
}

nav ul, nav ul li, nav p {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: rgb(224, 234, 252);
}

nav ul {
  font-size: 30px;
  float: right;
  list-style-type: none;
}

nav ul li a {
  padding: 0 25px 0 25px;
  color: rgb(224, 234, 252);
}

.logo {
  font-size: 45px;
  font-family: 'Lobster', cursive;
  padding: 0;
  margin: 0;
  transition: 1s;
}

.logo:hover {
  color: rgba(255, 0, 0, 0.582);
}

li {
  display: inline-block;
  margin: 0 25px 0 25px;
  padding: 0;
}

a {
  color: rgb(224, 234, 252);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li::before {
  content: "";
  position: relative;
  display: flex;
  top: 74px;
  background-color: red;
  width: 0px;
  height: 10px;
  transition-duration: 1s;
  padding: 0;
  margin: auto;
}

li:hover::before {
  width: 100%;
}
