<div class="row">
  <div class="col-lg-12 info-accueil">
    <h1>Vous avez toutes les raisons de choisir Le Hub pour vos missions</h1>
    <ul>
      <li class="col-lg-4"><div></div><h2>Gratuit</h2><p>Les service du Hub sont totalement gratuits. Il n'y a pas de différences entre entreprises ou freelences dans les recherces</p></li>
      <li class="col-lg-4"><div></div><h2>Simple</h2><p>Le Hub propose aux entreprises de déposer leurs missions, et aux freelances d'y répondre en toute simplicité et sans le moindre frais</p></li>
      <li class="col-lg-4"><div></div><h2>Visible</h2><p>Vous profitez de la visibilité du Hub, tant comme entreprise que freelance</p></li>
    </ul>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-lg-12 inscription">
    <h1>Alors passez à l'action !</h1>
    <p>Il n'y a plus à hésiter !<br>
    Profitez de nos services dès maintenant en vous inscrivant sur le Hub. Vous aurez accès à la totalité du service.
  Si vous hésitez encore, vous pouvez consulter les offres des entreprises ici, ou les profils des freelance ici.</p>
    <ul>
      <li class="col-lg-6"><a href="">S'inscrire comme entreprise</a></li>
      <li class="col-lg-6"><a href="">S'inscrire comme Freelance</a></li>
    </ul>
  </div>
</div>
